// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.grey-bg{
   background-color: $grey;
}

.grey-type{
   color: $grey;
}

.red-bg{
   background-color: $red;
}

.teal-bg{
   background-color: $teal;
}

.blue-bg{
   background-color: $blue;
}

.light-grey-bg{
   background-color: $light-grey;
}
