// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
// Example Usage: @media($bp-smaller-than-tablet) { ... }
$bp-larger-than-mobile    : "min-width: 480px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

$bp-smaller-than-desktop : "max-width: 1060px" !default;
$bp-smaller-than-tablet : "max-width: 750px" !default;
$bp-smaller-than-mobile : "max-width: 480px" !default;
$bp-smaller-than-phablet   : "max-width: 550px" !default;

// Colors
$red: #F05135;
$white: #FFFFFF !default;
$black: #000000 !default;
$grey: #565656;
$teal: #28BDB3;
$blue: #0397D6;
$light-grey: #aaa;
$dust: #e3e3e3;
$dark-grey: #444;


//Fonts
$proxima: "proxima-nova",sans-serif;


// Misc
//$global-radius: 4px !default;
