

#header{
   height: 70px;
   .navigation{
      float: right;
      ul{
         float: right;
         font-family: 'Cabin', sans-serif;
         li{
            @extend .grey-type;
            height: 64px;
            position: relative;
            overflow: hidden;
            // padding: 12px;
            display: inline-block;
            font-size: 20px;
            line-height: 24px;
            font-weight: 600;
            min-width: 138px;
            margin-bottom: 0;
            margin-left: 8px;
            -webkit-transition: color 0.2s ease-in-out;
            -moz-transition: color 0.2s ease-in-out;
            -ms-transition: color 0.2s ease-in-out;
            -o-transition: color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out;
            a{
               position: absolute;
               display: block;
               text-decoration: none;
               height: 100%;
               transition: all 0.2s ease-in-out;
            }
            .colorswipe{
               position: absolute;
               width: 100%;
               height: 100%;
               top: -90%;
               transition: all 0.2s ease-in-out;
               z-index: -1;
               left: 0;
            }
            .nav-item-content{
               position: absolute;
               padding-left: 4px;
               top: 6px;
               transition: all 0.25s ease-in-out;
            }
            &:hover{
               .colorswipe{
                  top: 0;
               }
               .nav-item-content{
                  top: 12px;
               }
               color: #fff;
            }
            &.hidden{
               display: none;
            }
            span{
               display: block;
               font-size: 11px;
               line-height: 15px;
               font-weight: 100;
               margin: 0;
            }
         }
      }
      #menu-primary-menu{
         margin: 10px 0 0 0;
      }
   }
   @media screen and (max-width: 1015px){
      display: none;
   }
}

#mobile-menu-trigger{
   display: none;
   position: absolute;
   top: 20px;
   right: 20px;
   width: 90px;
   height: 44px;
   background-color: $red;
   border-radius: 4px;
   text-align: center;
   color: $white;
   vertical-align: middle;
   text-decoration: none;
   cursor: pointer;
   font-size: 1em;
   font-weight: 600;
   padding: 12px;
   @media screen and (max-width: 1015px){
      display: block;
   }
}

#mobile-menu{
   padding: 40px 20px 20px 20px;
   a{
      text-decoration: none;
   }
   li{
      line-height: normal;
      font-weight: 600;
      position: relative;
      border: none;
      margin-bottom: 10px;
      padding: 10px 0;
      color: $grey;
      .sub{
         font-weight: normal;
         font-size: 0.8em;
         padding: 0;
      }
      .colorswipe{
         height: 5px;
         position: absolute;
         top: 0;
         width: 100%;
      }
   }
}

#sidr{
   display: none;
   ul{
      border: none;
      margin: 0;
   }
   .utils-nav{
      border: none;
      li{
         border-top: none;
      }
      a{
         height: 36px;
      }
   }
   .login{
      display: block;
      width: 100%;
      height: 54px;
      background-color: $grey;
      color: $white;
      text-align: center;
      font-weight: 400;
      font-size: 1.2em;
      text-decoration: none;
      padding: 14px;
      vertical-align: top;
      img{
         position: absolute;
         top: 17px;
         left: 80px;
      }
   }
   @media screen and (max-width: 1015px){
      display: block;
   }
}

.panels-wrapper{
   @media screen and (max-width: 1015px){
      display: none;
   }
}

#searchPanel{
   position: relative;
   display: none;
   width: 100%;
   height: 94px;
   background-color: $grey;
   padding: 20px;
   clear: both;
   .search-wrap{
      width: 100%;
      position: relative;
   }
   #searchForm{
      position: absolute;
      right: 0;
      font-family: 'Cabin', sans-serif;
   }
   #searchInput{
      vertical-align: top;
      display: inline-block;
      height: 54px;
      width: 500px;
      margin: 0 auto;
      border-radius: 2px 0px 0px 2px;
      border: none;
      font-size: 1em;
   }
   input[type="submit"]{
      font-size: 1em;
      vertical-align: top;
      height: 54px;
      border-radius: 0px 2px 2px 0px;
      display: inline-block;
      border: none;
      background-color: $teal;
      color: $white;
   }
}

#loginBoxPanel{
   display: none;
   float: left;
   position: relative;
   background-color: $grey;
   width: 100%;
   padding: 20px;
   #loginForm{
      float: right;
      fieldset{
         margin: 0;
      }
      label{
         display: none;
      }
      .pass-reg, .new-reg{
         font-size: 12px;
         color: $white;
         a{
            color: $white;
            text-decoration: underline;
         }
      }
      .clearer{
         clear: both;
      }
      input{
         display: block;
         height: 44px;
         font-size: 1em;
         border-radius: 2px;
         border: none;
         margin: 5px 0;
         padding: 10px 10px 10px 40px;
         width: 300px;
         float: right;
         font-family: 'Cabin', sans-serif;
         -webkit-transition: all 0.2s ease-in-out;
         -moz-transition: all 0.2s ease-in-out;
         -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
         transition: all 0.2s ease-in-out;
         &.username{
            background: url('https://2c4xez132caw2w3cpr1il98fssf-wpengine.netdna-ssl.com/wp-content/themes/EssentialHospitals/images/mail-icon.png') 10px 50% no-repeat #fff;
         }
         &.password{
            background: url('https://2c4xez132caw2w3cpr1il98fssf-wpengine.netdna-ssl.com/wp-content/themes/EssentialHospitals/images/pass-icon.png') 10px 50% no-repeat #fff;
         }
         &[type="submit"]{
            color: $white;
            line-height: normal;
            padding: 10px;
            &:hover{
               cursor: pointer;
               opacity: 0.9;
            }
         }
      }
   }
}

.logo{
   position: absolute;
   z-index: 100;
   top: 0;
   img{
      @media screen and (max-width: 1015px){
         height: 110px;
      }
   }
}

#utility-nav {
    background: #e4e4e4;
    height: 30px;
    position: relative;
    z-index: 6;
    display: block;
    #TopMenu{
      float: right;
      position: relative;
      #utils-nav{
         padding-top: 7px;
         margin-bottom: 0;
         font-size: 11px;
         margin-right: 20px;
         li{
            display: inline;
            font-family: Georgia,Times,"Times New Roman", serif;
            margin-bottom: 0;
            a{
               color: #333;
               text-decoration: none;
               &:hover{
                  color: #F05135;
               }
            }
            &::after{
               content: ' /';
            }
            &:last-of-type{
               &::after{
                  content: '';
               }
            }
         }
      }
   }
   @media screen and (max-width: 1015px){
      display: none;
   }
}

#searchlogin{
   float: right;
   .search, .login{
      position: relative;
      display: inline-block;
      cursor: pointer;
   }
   .login{
      vertical-align: top;
      background: #333;
      box-shadow: 1px 1px 5px 1px #999;
      padding: 5px 25px;
      overflow: visible;
      #loginButton{
         background-image: url(images/person-icon.png);
         background-repeat: no-repeat;
         padding: 2.5px 0px 2.5px 26px;
         font-size: 11px;
         font-weight: bold;
         color: #fff;
         overflow: visible;
         text-decoration: none;
      }
   }
   .search{
      > *{
         display: inline;
      }
   }
}
